
/* App.css */

 

.container {

  max-width: 400px;

  margin: 0 auto;

  padding: 20px;

  border: 1px solid #160895;

  border-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  background-color: #77d9f4;
}

 

h1 {

  text-align: center;

}

 

.input-group {

  margin-bottom: 60px;
  width: 100px;
}

 

.form-control {

  border-radius: 25px;
  width: 100px;
}

 

.btn-primary {

  border-radius: 4px;

}

 

.list-group {

  padding: 0;

}

 

.list-group-item {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 8px 12px;

  border: none;

}

 

.btn-danger {

  border-radius: 4px;

}

 

.btn-sm {

  font-size: 12px;

  padding: 3px 6px;

  margin-left: 5px;

}

 

/* Hover effect for list items */

.list-group-item:hover {

  background-color: #77d9f4;

}
